<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ana-sayfa"></ion-back-button>
    </ion-buttons>
    <ion-title>Başlangıç Seviye Hikayeler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Başlangıç Seviye </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let hikaye of hikayeler">
          <ion-card-content>
            <ion-icon name="school-outline"></ion-icon>&nbsp;<b
              >{{ hikaye.baslangicHikayeAdi }}</b
            >

            <ion-button expand="block" (click)="openModal(hikaye)"
              >Open</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
