<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ana-sayfa"></ion-back-button>
    </ion-buttons>
    <ion-title>HİKAYELER</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Hoş Geldiniz!</ion-card-title>
    </ion-card-header>
    <ion-card-content> Bu yeni sayfaya hoş geldiniz. </ion-card-content>
  </ion-card> -->

<!-- <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/user.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>John Doe</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
    <img src="../../assets/hotel.jpeg" alt="ion" />
    <ion-card-header>
      <ion-card-title>Hotel Panama Garden</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis
      mollis ligula sed ultrices.
    </ion-card-content>
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card> -->

<ion-content class="ion-padding" color="dark">
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>STORIES</ion-card-title>
      <ion-card-subtitle
        >Bu bölümde ingilizce okuma becerilerinizi geliştirebilceğiniz hikayeler
        bulunmaktadır.
        <p></p>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title>
          <ion-card-title expand="block" routerLink="/baslangic">
            Başlangıç Seviyesi</ion-card-title
          >
        </ion-card-title>
        <ion-card-subtitle>STARTER</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content
        >Bu bölümde A1-A2 seviye hikayeler bulunmaktadır.</ion-card-content
      >
    </ion-card>

    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title expand="block" routerLink="/orta"
          >Orta Seviye</ion-card-title
        >

        <ion-card-subtitle>INTERMEDIATE</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Bu bölümde B1-B2 seviye hikayeler bulunmaktadır.</ion-card-content
      >
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title expand="block" routerLink="/ileri">
          İleri Seviyesi</ion-card-title
        >
        <ion-card-subtitle>ADVANCED</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content
        >Bu bölümde C1-C2 seviye hikayeler bulunmaktadır.
      </ion-card-content>
    </ion-card>
    <!-- //********************************************************// -->
  </ion-card>
</ion-content>
